/* css for new landing page */
h1, h2, a, p {
	font-family: Roboto;
}

body {
	background-color: #212121;
	margin: 0;
	padding: 0;
	color: white;
}
/* bio formatting */
div#intro a {
	color: white;
	font-size: 100px;
	text-decoration: none;
}
div#intro  {
	color: white;
	font-size: 100px;
	text-decoration: none;
}
div#intro td{
	margin: 0;
	padding: 50px;
}

/* constants */
.smallContent {
	width: 850px;
	margin: auto;
}
.centerContent {
	min-width: 810px;
	max-width: 1250px;
	margin: auto;
}
div.Title {
	margin: auto;
	padding: 1px;
	width: 900px;
	
	text-align: center;
	font-size: 25px;
	background: rgb(40,40,40);
}
