/* css for new landing page */
h1, h2, a, p {
	font-family: Roboto;
}

body {
	background-color: #212121;
	color: white;
}
/* bio formatting */
div#intro a {
	color: white;
	font-size: 100px;
	text-decoration: none;
}
div#intro  {
	color: white;
	font-size: 100px;
	text-decoration: none;
}
div#intro td{
	margin: 0;
	padding: 50px;
}
div#navBar ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#212121;
}
div#navBar a{
	display:block;
	color:white;
	text-align:center;
	padding:0px 60px;
	text-decoration:none;
	font-size:30px;
}
div#navBar li{
	float:left;
}
	/*Add a background colour on mouse-over*/
div#navBar a:hover{
	background-color:#4CAF50;
}
	/*Style the current/active link*/
div#navBar a.active {
	background-color:#4CAF50;	
}

/* constants */
.smallContent {
	width: 850px;
	margin: auto;
}
.centerContent p{
	max-width:1300px;
	text-align:center;
	margin-top:200px;
	font-size:80px;
	margin-left:250px;
}
.resumeContent {
	min-width:810px;
	max-width: 1250px;
	margin-top:50px;
}

.projectContent {
	font-size:20px;
	margin-top:10px;
	margin-left:40px;
	display:inline-block;
}
.projectContent p{
	font-size:32px;
	text-align:left;
	margin-left: 8px;
}
.projectContent, h3{
	margin-top:0px;
	margin-left:50px;
}
.projectContent td{
	list-style-type:none;
	margin:0;
	padding:2px;
	overflow:hidden;
	background-color:#212121;
	margin-left:-60px;
}
.projectContent table{
	margin-left:-30px;
}
div.Title {
	margin: auto;
	padding: 0px 0px;
	width: 800px;
	height:63px;
	display:block;
	text-align: center;
	font-size: 50px;
	background: #4CAF50;
	list-style-type:none;
}
